<div class="intro">
    <marquee direction="left" behavior="alternate"><b> <h1>Welcome to Online Book Store,</h1></b> </marquee><br>
    <h2>{{userName}}</h2>
  </div>
  <br>
  <br>
  <div class="container mt-5 mb-5">
    <h1 class="text-center">Perform <span class="highlight">Operations</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Add-Books</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>View-Books</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>View Order-List</p>
            </div>
        </div>
    </div>
</div>